<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knope Quotes</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<div id="fb-root"></div>
    <!--Facebook JS SDK-->
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class = "jumbotron text-center">
        <h1>{{quote}}</h1>

    </div>
    <footer class="footer">
      <div class="container text-center">
          <p class="text-muted">Made by <a href="https://twitter.com/TheEthanWalker">Ethan Walker</a></p>
          <p>Share the <i class="fa fa-heart" aria-hidden="true"></i></p>
          <p  class="footer-social">
              <a href="https://twitter.com/share" data-show-count="false"><i class="fa fa-twitter fa-lg"></i></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              <span data-href="https://developers.facebook.com/docs/plugins/" data-layout="icon" data-mobile-iframe="true"><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fknopequotes.com%2F&amp;src=sdkpreparse"><i class="fa fa-facebook fa-lg"></i></a></span>
          </p>
      </div>
    </footer>
</body>
</html>